header{
    justify-self: center;
    font-size: 30px;
    padding: 8px;
    border-radius: 7px;
    border: 5px solid rgb(87, 39, 39);
    background-color: brown;
    color: whitesmoke;
    letter-spacing: 8px;
}

.mobilesservice{
    display: flex;
    justify-content: space-evenly;
}

.productsservice{
    font-family:Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: rgb(85, 85, 58);
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}
.incoming{
    width: 100%;
    cursor: pointer;
    margin: 5px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    background-color: green;
    padding: 3px;
    font-size: 17px;
    border-radius: 15px;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
}

/* .btn{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    border-radius: 5px;
    background-color: red;
    color: whitesmoke;
    letter-spacing: 2px;
   } */