/* Navbar Container */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #f0f4f8, #dceefb);
    color: #333;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding: 1rem 2rem;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

/* Logo Text */
.logo {
    font-size: 2.5rem;
    border: none;
    /* font-weight: bold; */
    background: linear-gradient(to right, #dd0031, #c3002f, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: transform 0.3s;
    letter-spacing: 6px;
}

.logo:hover {
    transform: scale(1.05);
}

/* Navigation Buttons */
.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

button{
    background-color: transparent;
    border: 2px solid transparent;
    color: #fff;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.nav-links button,
.dropdown .dropbtn {
    background-color: transparent;
    border: 2px solid transparent;
    color: #fff;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover,
.dropdown .dropbtn:hover {
    border-bottom: 2px solid #ffcc00;
    color: #ffcc00;
}

/* .nav-links button:hover,
.dropdown .dropbtn:hover {
    border-bottom: 2px solid #ffcc00;
    color: #ffcc00;
} */

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e1e1e;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
}

.dropdown-content a {
    color: white;
    padding: 0.7rem 1rem;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #2e2e2e;
    color: #ffcc00;
}

.dropdown:hover .dropdown-content {
    display: block;
}