<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body class="counter-body">

    <h1 id="title"> Counter App</h1>

    <h1 class="c" [style.color]="bgColor"> {{counter}} </h1> 
    <button (click)="toggle('decrement')">Decrement</button>
    <button (click)="toggle('reset')">Reset</button>
    <button (click)="toggle('increment')">Increment</button>
    
</body>
</html>