<!-- using rounting -->
<app-header></app-header>

<div class="main-content">
  <router-outlet></router-outlet>
</div>


<!-- using switch statement to display view -->
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body> 
    <nav class="navbar">
        <div class="logo">Angular</div>
      
        <div class="nav-links">
          <button (click)="update('header')">Header</button>
          <button (click)="update('binding')">Binding</button>
          <button (click)="update('eventbinding')">Event-Binding</button>

          <div class="dropdown">
            <button class="dropbtn">ControlFlow ⤵</button>
            <div class="dropdown-content">
                <a (click)="update('ifelse')">If-Else</a>
                <a (click)="update('loops')">Loops</a>
                <a (click)="update('directives')">Directives</a>
            </div>
        </div>

          <button (click)="update('signals')">Signals</button>
          <button (click)="update('effect')">Effect</button>
          <button (click)="update('dynamicStyle')">Dynamic-Style</button>

        <div class="dropdown">
            <button class="dropbtn">Projects ⤵</button>
            <div class="dropdown-content">
                <a (click)="update('counter')">Counter App</a>
                <a (click)="update('toDoApp')">To-Do App</a>
            </div>
        </div>
        </div>
      </nav>
      
    @switch (view) {
        @case ('binding') {
            <app-binding></app-binding>
        }
        @case ('counter') {
            <app-counter></app-counter>   
        }
        @case ('eventbinding') {
            <app-event></app-event>
        }
        @case ('ifelse') {
            <app-controlflow></app-controlflow>
        }
        @case ('loops') {
            <app-forloop></app-forloop>
        }
        @case ('signals') {
            <app-signals></app-signals>
        }
        @case ('effect') {
            <app-effect></app-effect>
        }
        @case ('toDoApp') {
            <app-to-do></app-to-do>
        }
        @case ('dynamicStyle') {
            <app-dynamicstyle></app-dynamicstyle>
        }
        @case ('directives') {
            <app-directives></app-directives>
        }
        @case ('header') {
            <app-header></app-header>
        }    
    }

</body>
</html> -->
