#box {
    display: flex;
}
.odd {
    width: 100px;
    height: 100px;
    background-color:tomato;
    margin-left: 50px;
}
.even {
    width: 100px;
    height: 100px;
    background-color: green;
    margin-left: 50px;
}

.other {
    color: black;
    width: 100px;
    height: 100px;
    background-color: rgb(230, 221, 203);
    margin-left: 50px;   
}

button{
    color: black;
    background-color: aliceblue;
    font-size: 15px;
    padding: 5px;
    margin-right: 12px;
}