body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #f0f4f8, #dceefb);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin: 0%;
    border-radius: 10px;
    width: 40%;
    margin-left: 28%;
    background-color: #54373fd2;
    color: white;
    padding: 1.5rem;
    font-size: 2rem;
    /* font-weight: 50px; */
    text-align: center;
    letter-spacing: 9px;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    flex: 1;
}

.chapter {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.2s;
}

.chapter:hover {
    transform: translateY(-5px);
}

.chapter h2 {
    font-size: 1.2rem;
    color: #dd0031;
    margin-bottom: 0.5rem;
}

.chapter ul {
    padding-left: 1rem;
    list-style: square;
}

footer {
    width: 98%;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    color: #ccc;
    font-size: .9rem;
    background-color: #121212;
    letter-spacing: 5px;
}